#logo {
    text-align: center;
    margin-top: 196px;
}

.logo {
    height: 92px;
    width: 272px;
}

.gmail {
    padding: 8px 5px;
    font-size: 14px;
}

.images {
    padding: 8px 25px;
    font-size: 14px;
}

#nav-right {
    position: absolute;
    top: 20px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    float: right;
}

#searchbar {
    text-align: center;
    margin-top: 1.5em;
}

#search {
    width: 600px;
    height: 45px;
    border-color: ghostwhite;
    border-top: ghostwhite;
    border-left: ghostwhite;
    border-radius: 25px;
}

#search:hover {
    box-shadow: 0 0 1px 2px lightgrey;
}

button {
    background-color:ghostwhite;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    color: darkslategrey;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
    border: lightgrey;
    box-shadow: 0 0 1px 1px lightgrey;
}

#nav-left {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 23px;
}

.left {
    display:inline-block;
    float: left;
    margin-right: 17px;
    font-size: 16px;
}

#Français {
    color: blue;
}

.translation {
    text-align: center;
    font-size: 14px;
    margin: 20px;
}

.canada {
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%;
    background-color: #d6d6d68a;
    border-bottom: 1px solid lightgray;
}

.canada2 {
    position: relative;
    left: 35px;
}

body {
    margin: 0;
}

.bottom-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #d6d6d68a;
    width: 100%;
    /*
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3.75em;
    background-color:lightslategray */
}

#advertising {
    position: absolute;
    bottom: 25px;
    left: 40px;
}

#business {
    position: absolute;
    bottom: 25px;
    left: 140px;
}

#works {
    position: absolute;
    bottom: 25px;
    left: 220px;
}

#privacy {
    position: absolute;
    bottom: 25px;
    right: 165px;
}

#terms {
    position: absolute;
    bottom: 25px;
    right: 110px;
}

#settings {
    position: absolute;
    bottom: 25px;
    right: 40px;
}
